@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray;
  }
  
  /* Horizontal scrollbar (leave it as is) */
  ::-webkit-scrollbar-thumb:horizontal {
    height: 4px;
    background: gray;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: darkgray;
  }
  