@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
} */

/* Track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: black;
}


::-webkit-scrollbar-track {
    background: black;
}


::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}
